# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Vagrant files
Vagrant/.vagrant
.librarian/
.tmp/
puppet/modules/composer/
puppet/modules/php/
puppet/modules/puppi/
